server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  config:
    import:
      - "application_qa.yml"
      - "application_prod.yml"
  profiles:
    active: prod

build:
  version: "3.0"

accounts:
  message: "Welcome to SBIBank account related local APIs"
  contact-details:
    name: "Subhash Patil - Developer"
    email: "subhash.patil@sbibank.com"
  on-call-support:
    - "(555) 555-1234"
    - "(555) 523-1234"